# Jekyll
_site/
.jekyll-cache/
.jekyll-metadata
.sass-cache/

# Ruby
*.gem
Gemfile.lock
vendor/

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.swp
*.swo
*~

# Node
node_modules/
npm-debug.log

# Misc
*.log
